<br>
<footer class="footer-95942" style="font-family: 'Poppins, sans-serif';background-color: burlywood">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md mb-3 mb-md-0">
                        <h3>Discover</h3>
                        <ul class="list-unstyled nav-links">
                        <li><a href="#">Website editors</a></li>
                        <li><a href="#">Online retail</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md mb-3 mb-md-0">
                        <h3>About</h3>
                        <ul class="list-unstyled nav-links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md mb-3 mb-md-0">
                        <h3>Services</h3>
                        <ul class="list-unstyled nav-links">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Awards</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md mb-3 mb-md-0">
                        <h3>Buy</h3>
                        <ul class="list-unstyled nav-links">
                        <li><a href="#">Where to Buy</a></li>
                        <li><a href="#">Shop Online</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-12 pb-3">
                <div class="border-top">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6 text-center">
                <span class="small">Rohith Kakarla &copy; All Rights Reserved.</span>
            </div>
            <div class="col-md-3 text-right">
                
            </div>
        </div>
        <br>
    </div>
</footer>